# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# turbo
.turbo

# testing
coverage/

# next.js / builds
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env*.local

# vercel
.vercel

# expo
.expo/

# typescript
*.tsbuildinfo
next-env.d.ts
